@model IEnumerable<GPSInformation.Models.IncidenciaVacacion>

@{
    ViewData["Title"] = "Index";
}
@if (Model.Count() == 0)
{
    <div class="alert alert-primary mg-b-0" role="alert">
        Sin solicitudes de vacaciones 
    </div>
}
else
{
    <table class="table table-condensed table-sm">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Folio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdPersona)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Inicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NoDias)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estatus)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Folio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdPersona)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoDias)
                    </td>
                    <td>
                        @if (item.Estatus == 1)
                        {
                            <span class="badge badge-primary">En proceso</span>
                        }
                        else if (item.Estatus == 2)
                        {
                            <span class="badge badge-danger">Cancelada</span>
                        }
                        else
                        {
                            <span class="badge badge-primary">Completada</span>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", "IncidenciaVacacion", new { id = item.IdIncidenciaVacacion })|
                        @if (item.Estatus == 1)
                        {
                            @Html.ActionLink("Cancelar", "Cancel", "IncidenciaVacacion", new { id = item.IdIncidenciaVacacion })<span>|</span>
                        }
                        <a href="#modalActividadVacaciones" data-toggle="modal" onclick="app_incidencias.ActividadVacacion(@item.IdIncidenciaVacacion)">Actividad</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

