@model IEnumerable<GPSInformation.Models.RequisicionPersonal>

@{
    ViewData["Title"] = "Mis solicitudes";
}
<div class="d-flex align-items-center justify-content-between mg-b-30">
    <h4 class="tx-15 mg-b-0">@ViewData["Title"]</h4>
    <div class="btn-group" role="group" aria-label="Basic example">
        <h2 class="tx-15 mg-b-0"></h2>
        <a asp-action="Create" class="btn btn-sm btn-white d-flex align-items-center"><i class="icon ion-md-time mg-r-5 tx-16 lh--9"></i>Crear nuevo</a>
    </div>
</div>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdRequisicionPersonal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoRequisicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasoCompletado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdRequisicionPersonal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoRequisicion)
            </td>
            <td>


                @if (item.PasoCompletado == 0)
                {
                    <span class="badge badge-secondary">En proceso de autorización</span>
                }
                else if (item.PasoCompletado == 1)
                {
                    <span class="badge badge-primary">Aceptada</span>
                }
                else
                {
                    <span class="badge badge-danger">Rechazada</span>
                }
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {id=item.IdRequisicionPersonal }) 
            </td>
        </tr>
}
    </tbody>
</table>
