@model GPSInformation.Reportes.ProduccionV3.EmpleadoProd
@using System.Globalization
@{
    ViewData["Title"] = "Detalle de horas trabajadas";
    System.Threading.Thread.CurrentThread.CurrentUICulture = new System.Globalization.CultureInfo("es-ES");
    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("es-ES");
    List<GPSInformation.Reportes.ProduccionV3.PermisosBloq> Permisos = (List<GPSInformation.Reportes.ProduccionV3.PermisosBloq>)ViewBag.Permisos;
}


<div id="app_horariosEmp">
    <div class="row">
        <div class="col-lg-12">
            @await Component.InvokeAsync("ValidPuestoEnOrganigrama", new { id = Model.IdPersona })
        </div>
    </div>
    <hr />
    <div class="d-flex align-items-center justify-content-between mg-b-30">
        <h4 class="tx-15 mg-b-0">
            @ViewData["Title"]
            <br />
            @if (DateTime.Now >= Model.Incio && DateTime.Now <= Model.Fin)
            {
                <span class="badge badge-success">Semana en curso</span>
            }
            else
            {
                <span class="badge badge-warning">Semana fuera de curso</span>
            }
        </h4>
        <div class="btn-group" role="group" aria-label="Basic example">
            <h2 class="tx-15 mg-b-0"></h2>
            @*@if (Model.GrupoProdCorteLast != null)
        {
            @if (Model.GrupoProdCorteAct is null)
            {
                <a href="#" v-on:click="CrearCorte()" class="btn btn-outline-warning btn-sm d-flex align-items-center">Crear Corte</a>
            }
            else
            {
                <a href="#" class="btn btn-outline-warning btn-sm d-flex align-items-center disabled">Crear Corte</a>
            }
        }*@

            <a href="@Url.Action("MiReporte", "produccionv4", new {Inicio = Model.Incio.AddDays(-7)})" class="btn btn-outline-primary btn-sm d-flex align-items-center"><i data-feather="chevron-left"></i></a>
            <a href="@Url.Action("MiReporte", "produccionv4", new {Inicio = Model.Incio.AddDays(7)})" class="btn btn-outline-primary btn-sm d-flex align-items-center"><i data-feather="chevron-right"></i></a>

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Incio)
                </dt>
                <dd>
                    @Model.Incio.ToString("F")
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Fin)
                </dt>
                <dd>
                    @Model.Fin.ToString("F")
                </dd>
            </dl>
        </div>
        <div class="col-lg-3">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.HorasMeta)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.HorasMeta)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HorasReal)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.HorasReal)
                </dd>
            </dl>
        </div>
        <div class="col-lg-3">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.HorasAprobadas)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.HorasAprobadas)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.HorasScore)
                </dt>
                <dd>
                    <span class="badge badge-@Html.Raw(Model.HorasScore > 0 ? "danger" : "success")">@Html.DisplayFor(model => model.HorasScore)</span>
                </dd>
            </dl>
        </div>
        <div class="col-lg-2">
            <dl class="dl-horizontal">
                <dt>
                    Score general
                </dt>
                <dd>
                    @if (Model.GrupoProdCorteLast != null)
                    {
                        @if (Model.GrupoProdCorteAct is null)
                        {
                            @string.Format("{0:#.####} (hrs)", (Model.GrupoProdCorteLast.Score + Model.HorasScore))
                            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Score de la semana  anterior " data-content="@string.Format("{0:#.####} (hrs)", (Model.GrupoProdCorteLast.Score))" class="link-03 lh-0"><i class="icon ion-ios-navigate"></i></a>
                        }
                        else
                        {
                            @string.Format("{0:#.####} (hrs)", (Model.GrupoProdCorteLast.Score + Model.HorasScore))
                <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Score de la semana  anterior " data-content="@string.Format("{0:#.####} (hrs)", (Model.GrupoProdCorteLast.Score))" class="link-03 lh-0"><i class="icon ion-ios-navigate"></i></a>
                        }
                    }
                    else
                    {
                        <span class="badge badge-warning">No se hizo el corte anterior</span>
                    }
                </dd>
            </dl>
        </div>
    </div>

    <hr />

    <div class="row">

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h6 class="mg-b-0">Control de accesos</h6>
                    @if (Permisos.Find(a => a.IdSubModulo == 53).Autorization || Permisos.Find(a => a.IdSubModulo == 55).Autorization)
                    {
                        <div class="d-flex align-items-center tx-18">
                            <div class="dropdown">
                                <button class="btn btn-sm dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon ion-md-more"></i></button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    @if (Model.GrupoProdCorteAct is null)
                                    {
                                        <a class="dropdown-item" href="#modal3" data-toggle="modal">Agregar registro</a>

                                    }
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <div class="card-body pd-20" id="card_e">
                    @if (Model.Accessos.Count > 0)
                    {
                        if ((Model.Accessos.Count(a => a.Activo) % 2) != 0)
                        {
                            <div class="alert alert-solid alert-primary" role="alert">
                                Algo esta ocurriendo, probables causas: exceso de registros o falta de registros
                            </div>
                        }
                        <ul class="activity tx-13">
                            @foreach (var item in Model.Accessos)
                            {
                                @if (item.Activo)
                                {
                                    @if (item.TipoAcceso == GPSInformation.Reportes.ProduccionV3.TipoAcceso.Entrada)
                                    {
                                        <li class="activity-item">
                                            <div class="activity-icon @Html.Raw(item.Forzado ? "bg-warning-light tx-warning" : "bg-success-light tx-success")"><i data-feather="clock"></i></div>
                                            <div class="activity-body">
                                                <p class="mg-b-2">
                                                    <span class="badge badge-success">Entrada @Html.Raw(item.Forzado ? "Manual" : "")</span>
                                                    @if (Permisos.Find(a => a.IdSubModulo == 53).Autorization || Permisos.Find(a => a.IdSubModulo == 55).Autorization)
                                                    {
                                                        @if (Model.GrupoProdCorteAct is null)
                                                        {
                                                            @if (item.Forzado)
                                                            {
                                                                <a href="#card_e" v-on:click="DeleteArreglo(@item.IdAccessLog)" title="Eliminar este registro manual" class="link-03 lh-0"><i class="icon ion-ios-trash"></i></a>
                                                            }
                                                            else
                                                            {
                                                                <a href="#modal2" data-toggle="modal" v-on:click="HideArreglo('@item.Fecha.ToString("yyyy-MM-dd HH:mm:ss")',@item.IdEventChec,'@item.Fecha.ToString("F")')" title="Omitir este registro" class="link-03 lh-0"><i class="icon ion-ios-eye-off"></i></a>
                                                            }
                                                        }
                                                    }


                                                </p>
                                                <p class="mg-b-2">@item.Descripcion</p>
                                                <small class="tx-color-03">@item.Fecha.ToString("F")</small>
                                            </div><!-- activity-body -->
                                        </li><!-- activity-item -->
                                    }
                                    else
                                    {
                                        <li class="activity-item">
                                            <div class="activity-icon @Html.Raw(item.Forzado ? "bg-warning-light tx-warning" : "bg-success-light tx-success")"><i data-feather="clock"></i></div>
                                            <div class="activity-body">
                                                <p class="mg-b-2">
                                                    <span class="badge badge-info">Salida @Html.Raw(item.Forzado ? "Manual" : "")</span>
                                                    @if (Permisos.Find(a => a.IdSubModulo == 53).Autorization || Permisos.Find(a => a.IdSubModulo == 55).Autorization)
                                                    {
                                                        @if (Model.GrupoProdCorteAct is null)
                                                        {
                                                            @if (item.Forzado)
                                                            {
                                                                <a href="#card_e" v-on:click="DeleteArreglo(@item.IdAccessLog)" title="Eliminar este registro manual" class="link-03 lh-0"><i class="icon ion-ios-trash"></i></a>
                                                            }
                                                            else
                                                            {
                                                                <a href="#modal2" data-toggle="modal" v-on:click="HideArreglo('@item.Fecha.ToString("yyyy-MM-dd HH:mm:ss")',@item.IdEventChec,'@item.Fecha.ToString("F")')" title="Omitir este registro" class="link-03 lh-0"><i class="icon ion-ios-eye-off"></i></a>
                                                            }
                                                        }
                                                    }


                                                </p>
                                                <p class="mg-b-2">@item.Descripcion</p>
                                                <small class="tx-color-03">@item.Fecha.ToString("F")</small>
                                            </div><!-- activity-body -->
                                        </li><!-- activity-item -->
                                    }

                                }
                                else
                                {
                                    <li class="activity-item">
                                        <div class="activity-icon bg-pink-light tx-pink">
                                            <i data-feather="clock"></i>
                                        </div>
                                        <div class="activity-body">
                                            <p class="mg-b-2">
                                                <span class="badge badge-danger">Se ha omitido este registro</span>
                                                @if (Permisos.Find(a => a.IdSubModulo == 53).Autorization || Permisos.Find(a => a.IdSubModulo == 55).Autorization)
                                                {
                                                    @if (Model.GrupoProdCorteAct is null)
                                                    {
                                                        <a href="#card_e" v-on:click="DeleteArreglo(@item.IdGrupoArreglo)" title="Activar este registro" class="link-03 lh-0"><i class="icon ion-md-eye"></i></a>
                                                    }
                                                }


                                            </p>
                                            <p class="mg-b-2">@item.Descripcion</p>
                                            <small class="tx-color-03">@item.Fecha.ToString("F")</small>
                                        </div><!-- activity-body -->
                                    </li><!-- activity-item -->
                                }
                            }
                        </ul><!-- activity -->
                    }
                    else
                    {
                        <div class="alert alert-solid alert-primary" role="alert">
                            Sin registros de accesos
                        </div>
                    }

                </div><!-- card-body -->
            </div><!-- card -->
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h6 class="mg-b-0">Forma de trabajo durante la semana</h6>
                    @if (Permisos.Find(a => a.IdSubModulo == 53).Autorization)
                    {
                        <div class="d-flex align-items-center tx-18">
                            <div class="dropdown">
                                <button class="btn btn-sm dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon ion-md-more"></i></button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    @if (Model.GrupoProdCorteAct is null)
                                    {
                                        <a class="dropdown-item" href="#modal5" data-toggle="modal">Cambio de grupo</a>
                                    }

                                </div>
                            </div>
                        </div>
                    }

                </div>
                <div class="card-body pd-20">
                    @if (Model.JornadaGrupos.Count <= 0)
                    {
                        <div class="alert alert-solid alert-danger" role="alert">
                            No existe ninguna definición de horarios de trabajo
                        </div>
                    }
                    <ul class="activity tx-13">

                        @foreach (var item in Model.JornadaGrupos)
                        {
                            @if (item.TipoJornada != "Cambio de turno")
                            {
                                <li class="activity-item">
                                    <div class="activity-icon bg-warning-light tx-warning">
                                        <i data-feather="calendar"></i>
                                    </div>
                                    <div class="activity-body">
                                        <p class="mg-b-2">
                                            <span class="badge badge-@Html.Raw(item.GrupoName == "Gris" ? "secondary" : item.GrupoName == "Rojo" ? "danger" : "success")">Grupo @item.GrupoName</span>
                                            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Turno asignado: Grupo @item.GrupoName" data-content="@item.ComentariosSistema" class="link-03 lh-0"><i class="icon ion-ios-navigate"></i></a>
                                        </p>
                                        @if (item.TipoJornada != "Descanso")
                                        {
                                            <p class="mg-b-2">Entrada:  @item.Fecha.ToString("F")</p>
                                            <p class="mg-b-2">Salida:  @item.Salida.ToString("F")</p>
                                            <p class="mg-b-2">Hrs:  @item.HorasMeta</p>
                                        }

                                        <small class="tx-color-03">@item.TipoJornada</small>
                                    </div><!-- activity-body -->
                                </li><!-- activity-item -->
                            }

                        }

                    </ul><!-- activity -->
                </div><!-- card-body -->
            </div><!-- card -->
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h6 class="mg-b-0">Historico de incidencias durante la semana</h6>
                    @if (Permisos.Find(a => a.IdSubModulo == 53).Autorization || Permisos.Find(a => a.IdSubModulo == 56).Autorization)
                    {
                        <div class="d-flex align-items-center tx-18">
                            <div class="dropdown">
                                <button class="btn btn-sm dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon ion-md-more"></i></button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    @if (Model.GrupoProdCorteAct is null)
                                    {
                                        <a class="dropdown-item" href="#modal4" data-toggle="modal">Registrar nueva</a>
                                    }
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <div class="card-body pd-20">
                    @if (Model.JornadaGrupos.Count <= 0)
                                    {
                        <div class="alert alert-solid alert-info" role="alert">
                            Sin incidencias
                        </div>
                    }
                    <ul class="list-group list-group-flush tx-13">
                        @foreach (var item in Model.GrupoProdIncidencias)
                        {
                                    @if (item.TipoIncidecia == "Per")
                            {
                                <li class="list-group-item d-flex pd-sm-x-20">
                                    <div class="avatar d-none d-sm-block"><span class="avatar-initial rounded-circle bg-indigo op-5"><i class="icon ion-md-bookmarks"></i></span></div>
                                    <div class="pd-sm-l-10">
                                        <p class="tx-medium mg-b-2">
                                            @item.NameTipoPermiso
                                            @if (Permisos.Find(a => a.IdSubModulo == 53).Autorization || Permisos.Find(a => a.IdSubModulo == 56).Autorization)
                                            {
                                                @if (Model.GrupoProdCorteAct is null)
                                                {
                                                    <a href="#card_e" v-on:click="DleteIncidencia(@item.IdGrupoProdIncidencia)" title="Eliminar esta incidencia" class="link-03 lh-0"><i class="icon ion-ios-trash"></i></a>
                                                }
                                            }


                                        </p>
                                        <p class="tx-medium mg-b-2">Comentarios: @item.Comentarios</p>
                                        <small class="tx-12 tx-color-03 mg-b-0">@item.FechaPermiso.ToString("F")</small>
                                    </div>
                                    <div class="mg-l-auto text-right">
                                        <p class="tx-medium mg-b-2">@item.HorasJustific (hrs)</p>
                                        <small class="tx-12 tx-success mg-b-0"></small>
                                    </div>
                                </li>
                            }
                            else
                                {
                                <li class="list-group-item d-flex pd-sm-x-20">
                                    <div class="avatar d-none d-sm-block"><span class="avatar-initial rounded-circle bg-orange op-5"><i class="icon ion-md-sunny"></i></span></div>
                                    <div class="pd-sm-l-10">
                                        <p class="tx-medium mg-b-2">
                                            Vacaciones
                                            @if (Permisos.Find(a => a.IdSubModulo == 53).Autorization || Permisos.Find(a => a.IdSubModulo == 56).Autorization)
                                            {
                                                @if (Model.GrupoProdCorteAct is null)
                                                {
                                                    <a href="#card_e" v-on:click="DleteIncidencia(@item.IdGrupoProdIncidencia)" title="Eliminar esta incidencia" class="link-03 lh-0"><i class="icon ion-ios-trash"></i></a>
                                                }
                                            }


                                        </p>
                                        <p class="tx-medium mg-b-2">Comentarios: @item.Comentarios</p>
                                        <small class="tx-12 tx-color-03 mg-b-0">Salida: @item.FechaSalVac.ToString("F")</small>
                                        <small class="tx-12 tx-color-03 mg-b-0">Regreso: @item.FechaRegVac.ToString("F")</small>
                                    </div>
                                    <div class="mg-l-auto text-right">
                                        <p class="tx-medium mg-b-2">@item.HorasJustific (hrs)</p>
                                        <small class="tx-12 tx-info mg-b-0"></small>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div><!-- card-body -->
            </div><!-- card -->
        </div>
    </div>

    <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content tx-14">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel2">Omitir evento</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Fecha</label>
                        <input type="hidden" disabled name="inp_idEvento" id="inp_idEvento" class="form-control" value="" />
                        <input type="hidden" disabled name="inp_fechaArreglo" id="inp_fechaArreglo" class="form-control" value="" />
                        <input type="text" disabled name="inp_fechaArreglotext" id="inp_fechaArreglotext" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label>Comentarios</label>
                        <textarea name="inp_commArreglo" id="inp_commArreglo" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary tx-13" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary tx-13" v-on:click="SaveHideArreglo()">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content tx-14">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel2">Registrar nuevo evento</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Hola!</h4>
                        <p>Recuerda que solo podrás insertar registros de forma manual de acuerdo al siguiente bloque de fechas:</p>
                        <p>Inicio: @Model.Incio.ToString("F")</p>
                        <p>Fin: @Model.Fin.ToString("F")</p>
                        <hr>
                        <p class="mb-0">Sistema Gestión de Personal</p>
                    </div>
                    <div class="form-group">
                        <label>Fecha</label>
                        <input type="date" name="inp_fechaArrreglo_2" id="inp_fechaArrreglo_2" class="form-control" value="" />
                        <span id="inp_fechaArrreglo_2_span" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Hora</label>
                        <input type="time" name="inp_horaArrreglo_2" id="inp_horaArrreglo_2" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label>Comentarios</label>
                        <textarea name="inp_commArreglo" id="inp_commArreglo_2" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary tx-13" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary tx-13" v-on:click="SaveAddArreglo()">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content tx-14">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel2">Registrar cambio de grupo</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Hola!</h4>
                        <p>Recuerda que solo podrás insertar registros de forma manual de acuerdo al siguiente bloque de fechas:</p>
                        <p>Inicio: @Model.Incio.ToString("F")</p>
                        <p>Fin: @Model.Fin.ToString("F")</p>
                        <hr>
                        <p class="mb-0">Sistema Gestión de Personal</p>
                    </div>
                    <div class="form-group">
                        <label>Fecha</label>
                        <input type="text" name="inp_fechaArrreglo_2" id="inp_fechaArrreglo_2" class="form-control" value="" />
                        <span id="inp_fechaArrreglo_2_span" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Hora</label>
                        <input type="text" name="inp_horaArrreglo_2" id="inp_horaArrreglo_2" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label>Comentarios</label>
                        <textarea name="inp_commArreglo" id="inp_commArreglo_2" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary tx-13" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary tx-13" v-on:click="SaveAddArreglo()">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content tx-14">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel2">Registrar incidencias</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/" method="post">
                        <div class="form-group ">
                            <label>Tipo de incidencia</label>
                            <select class="form-control" v-model="DatInc.tipoIncidecia">
                                <option value="Per" selected>Permiso</option>
                                <option value="Vac">Vacaciones</option>
                            </select>
                        </div>
                        <div class="form-group " v-if="DatInc.tipoIncidecia == 'Per'">
                            <label>Fecha del permiso</label>
                            <input type="date" name="name" value="" id="date1" class="form-control" v-model="DatInc.fechaPermiso" />
                            <span id="DatInc_fechaPermiso_span" class="text-danger"></span>
                        </div>
                        <div class="row" v-if="DatInc.tipoIncidecia == 'Vac'">
                            <div class="form-group col-lg-6">
                                <label>Salida</label>
                                <input type="date" name="name" value="" class="form-control datepickerdate" v-model="DatInc.fechaSalVac" />
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Ultimo dia</label>
                                <input type="date" name="name" value="" class="form-control datepickerdate" v-model="DatInc.fechaRegVac" />
                            </div>
                            <span id="DatInc_fechaPermisoGen_span" class="text-danger"></span>
                        </div>
                        <div class="form-group " v-if="DatInc.tipoIncidecia == 'Per'">
                            <label>Tipo de permiso</label>
                            <select class="form-control" v-model="DatInc.tipoPermiso" asp-items="ViewBag.PagoPermisoPersonal">
                                <option value="0">Selecciona una opción</option>
                            </select>
                        </div>
                        <div class="form-group ">
                            <label>Horas a justificar</label>
                            <input type="text" name="name" value="" v-model="DatInc.horasJustific" class="form-control" />
                        </div>
                        <div class="form-group ">
                            <label>Comentarios</label>
                            <textarea class="form-control" v-model="DatInc.comentarios"></textarea>
                        </div>
                        <div class="form-group"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary tx-13" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary tx-13" v-on:click="SaveIncidencia()">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content tx-14">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel2">Registrar cambio de grupo</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-7">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Grupo</th>
                                        <th>Comentarios</th>
                                        <th>Creado</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.GrupoCambios)
                                    {
                                        <tr>
                                            <td>@item.Fecha.ToString("yyyy-MM-dd")</td>
                                            <td><span class="badge badge-@Html.Raw(item.GrupoName == "Gris" ? "secondary" : item.GrupoName == "Rojo" ? "danger" : "success")">Grupo @item.GrupoName</span></td>
                                            <td>@item.Comentarios</td>
                                            <td>@item.Creado.ToString("yyyy-MM-dd HH:mm")</td>
                                            <td>
                                                <a href="#card_e" v-on:click="DleteCambio(@item.IdGrupoCambios)" title="Eliminar este cambio" class="link-03 lh-0"><i class="icon ion-ios-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-5">
                            <span id="sms_form5" class="text-danger"></span>
                            <div class="form-group">
                                <label>Fecha a aplicar turno:</label>
                                <input type="date" name="inp_fechaCG" id="inp_fecha_cambio" class="form-control" value="" />
                            </div>
                            <div class="form-group">
                                <label>Grupo:</label>
                                <select class="form-control" id="inp_grupoCG">
                                    <option value="86">Gris</option>
                                    <option value="87">Rojo</option>
                                    <option value="88">Verde</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Comentarios:</label>
                                <textarea id="inp_commentsCG" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary tx-13" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary tx-13" v-on:click="CreateCambio()">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>
</div>
<button href="#" style="display: none" onclick="window.location.reload()" id="btn_refrescar" type="button" class="btn btn-white"><i class="icon ion-md-time mg-r-5 tx-16 lh--9"></i>Refrescar</button>
@section Scripts {
    
}