@model IEnumerable<GPDataInformation.Models.Puesto>

@{
    ViewData["Title"] = "Index";
}

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left" style="padding-top: 7.5px;">@ViewData["Title"]</h4>
        <div class="btn-group pull-right">
            <a href="#" class="btn btn-default btn-sm" onclick="" title="Refrescar contenido"><span class="glyphicon glyphicon-refresh"></span>Refrescar</a>
            <a asp-action="Create" class="btn btn-default btn-sm" title="Registrar nuevo"><span class="glyphicon glyphicon-plus"></span>Nuevo</a>
        </div>
    </div>
    <div class="panel-body" id="list_departammets">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DPU)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IdDepartamento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SalarioMin)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SalarioMax)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HoraEntrada)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HoraSalida)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IdPuestoParent)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DPU)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Departamento.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SalarioMin)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SalarioMax)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HoraEntrada)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HoraSalida)
                            </td>
                            <td>
                                @if (item.IdPuestoParent == 0)
                                {
                                    <span>Puesto raiz</span>
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.PuestoParent.Nombre)
                                }

                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.IdPuesto }) 
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>