@model IEnumerable<GPSInformation.Models.Puesto>

@{
    ViewData["Title"] = "Puestos";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DPU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDepartamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioMax)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Departamento.ClaveDPU<span>-DPU-</span>@item.DPU
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioMax)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IdPuesto })
            </td>
        </tr>
}
    </tbody>
</table>
