@model IEnumerable<GPSInformation.Models.Persona>

@{
    ViewData["Title"] = "Prospectos";
}
<div class="d-flex align-items-center justify-content-between mg-b-30">
    <h4 class="tx-15 mg-b-0">@ViewData["Title"]</h4>
    <div class="btn-group" role="group" aria-label="Basic example">
        <h2 class="tx-15 mg-b-0"></h2>
        <a asp-action="Create" class="btn btn-outline-primary btn-sm d-flex align-items-center"><i class="icon ion-md-time mg-r-5 tx-16 lh--9"></i>Crear nuevo</a>
    </div>
</div>
<hr />
<table class="table table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPersona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompelto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstatusPros)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompelto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nacimiento)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.IdPuesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstatusPros)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {id=item.IdPersona })
            </td>
        </tr>
        }
    </tbody>
</table>
