@model EcomDataProccess.Ecom_Pedido
@{
    @if (Model.Status == "P")
    {
        ViewData["Title"] = "Detalle del pedido: " + Model.DocNumEcommerce;
    }
    else
    {
        ViewData["Title"] = "Detalle de la cotización: " + Model.DocNumEcommerce;
    }
    
}
<div>
    <div class="row">
        <div class="d-flex align-items-center justify-content-center mt-3 col-lg-12">
            @if (Model.Status == "C")
            {
                @if (Model.DocDate.AddDays(10) >= DateTime.Now)
                {
                    <div role="alert" class="alert alert-bordered alert-success col-12">
                        Cotización vigente
                    </div>
                }
                else
                {
                    <div role="alert" class="alert alert-bordered alert-danger col-12">
                        Cotización no vigente
                    </div>
                }
            }
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="card pd-20 pd-xs-30 shadow-base bd-0">
                <h6 class="tx-gray-800 tx-uppercase tx-semibold tx-13 mg-b-10">Información del documento</h6>
                <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">No.Documento Ecommerce</label>
                <p class="tx-info mg-b-5">@Html.DisplayFor(model => model.DocNumEcommerce)</p>
                <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Tipo de documento</label>
                @if (Model.Status == "P")
                {
                    <p class="mg-b-5 badge badge-success">Pedido</p>
                }
                else
                {
                    <p class="mg-b-5 badge badge-danger">Cotización</p>
                }
                <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Fecha del documento</label>
                <p class="tx-info mg-b-5">@Html.DisplayFor(model => model.DocDate)</p>
                <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Moneda del documento</label>
                <p class="tx-info mg-b-5">@Html.DisplayFor(model => model.DocCur)</p>
                <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Tipo de cambio</label>
                <p class="tx-info mg-b-5">$@Html.DisplayFor(model => model.DocRate)</p>
                <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Sub total</label>
                <p class="tx-info mg-b-5">$@Html.DisplayFor(model => model.DocSubTotal)</p>
                <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Iva</label>
                <p class="tx-info mg-b-5">$@Html.DisplayFor(model => model.DocIva)</p>
                <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Total</label>
                <p class="tx-info mg-b-5">$@Html.DisplayFor(model => model.DocTotal)</p>
                @if (Model.Status == "P")
                {
                    <h6 class="tx-gray-800 tx-uppercase tx-semibold tx-13 mg-b-10">Finanzas</h6>
                    <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Metodo de pago</label>
                    <p class="tx-info mg-b-5">@Html.DisplayFor(model => model.PaymentMethod)</p>
                    <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Uso de CFDI</label>
                    <p class="tx-info mg-b-5">@Html.DisplayFor(model => model.CFDIUser)</p>
                    @if (Model.Ecom_Cliente_.TipoCliente == "B2C")
                    {
                        <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Requiere factura</label>
                        <p class="tx-info mg-b-5">@Html.DisplayFor(model => model.RequireInvoice)</p>
                    }
                    <h6 class="tx-gray-800 tx-uppercase tx-semibold tx-13 mg-b-10">Logistica</h6>
                    <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Dirección de envio</label>
                    <p class=" mg-b-5 "><a href="#" class="btn btn-sm btn-outline-success btn-block" v-on:click="OpenModal('modal_shipto')" title="Ver información de la dirección">@Html.DisplayFor(model => model.ShipTo)</a></p>

                    <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Dirección de facturación</label>
                    <p class=" mg-b-5 "><a href="#" class="btn btn-sm btn-outline-success btn-block" v-on:click="OpenModal('modal_BillTo')" title="Ver información de la dirección">@Html.DisplayFor(model => model.BillTo)</a></p>
                    <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Referencias de envio</label>
                    <p class="tx-info mg-b-5">@Html.DisplayFor(model => model.ShipRefences)</p>
                }
                else
                {

                }
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card pd-20 pd-xs-30 shadow-base bd-0">
                <h6 class="tx-gray-800 tx-uppercase tx-semibold tx-13 mg-b-10">Partidas del documento</h6>
                <table class="table display responsive nowrap" id="DocumentLInesCotizacionBP">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Codigo</th>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                            <th>Sub Total</th>
                            <th>Total + iva</th>
                            <th>Moneda</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Ecom_PedidoLines_)
                        {
                            <tr>
                                <td><img style="width: 100px;" src="@Html.DisplayFor(modelItem => item.ImageLink)" alt="imagen" /></td>
                                <td class="align-middle">@Html.DisplayFor(modelItem => item.ItemCode)</td>
                                <td class="align-middle">@Html.DisplayFor(modelItem => item.Dscription)</td>
                                <td class="align-middle">
                                    @{
                                        if (item.Quantity > 0)
                                        {
                                            <p class="mg-b-5 badge badge-success">@Html.DisplayFor(modelItem => item.Quantity)</p>
                                        }
                                        else
                                        {
                                            <p class="mg-b-5 badge badge-danger">Eliminado</p>
                                        }
                                    }
                                </td>
                                <td class="align-middle">$@Html.DisplayFor(modelItem => item.LineSubTotal)</td>
                                <td class="align-middle">$@Html.DisplayFor(modelItem => item.LineTotal)</td>
                                <td class="align-middle">@Html.DisplayFor(modelItem => item.Currency)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card pd-20 pd-xs-30 shadow-base bd-0">
                <h6 class="tx-gray-800 tx-uppercase tx-semibold tx-13 mg-b-10">Información del cliente</h6>
                @if (Model.Id_cliente != 0)
                {
                    <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Cliente</label>
                    <p class="tx-info mg-b-5"> @Model.Ecom_Cliente_.Nombre @Model.Ecom_Cliente_.Apellidos</p>
                    <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Telefono</label>
                    <p class="tx-info mg-b-5">@Model.Ecom_Cliente_.Telefono</p>
                    <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Correo</label>
                    <p class="tx-info mg-b-5">@Model.Ecom_Cliente_.Email</p>
                    <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Tipo de cliente</label>
                    <p class="tx-info mg-b-5">@Model.Ecom_Cliente_.TipoCliente</p>
                    <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Codigo SAP</label>
                    <p class=" mg-b-5 "><a href="#" class="btn btn-sm btn-outline-success btn-block" v-on:click="verCliente(Cliente.data.objeto.cardCode)" title="Ver información del cliente">@Model.Ecom_Cliente_.CardCode</a></p>

                    <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Sociedad</label>
                    <p class="tx-info mg-b-5">@Model.Ecom_Cliente_.Sociedad</p>
                }
                else
                {
                    <div class="alert alert-warning" role="alert">
                        Esta cotización ha sido generada por un usuario sin sesión activa
                    </div>
                }
                @if (Model.StatusProcessWS == 0)
                {
                    <h6 class="tx-gray-800 tx-uppercase tx-semibold tx-13 mg-b-10">Información de servicio</h6>
                    <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Cotizacion SAP</label>
                    <p class="tx-info mg-b-5">@Model.DocEntry</p>
                    <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Estatus</label>
                    <p class="mg-b-5 badge badge-info">@Model.GetStatusDescription()</p>
                    <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Número de guia</label>
                    <p class="tx-info mg-b-5">@Model.TrackNo</p>
                }
            </div>
        </div>
    </div>
</div>

@*<div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DocEntry)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DocEntry)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DocNum)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DocNum)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DocDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DocDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DocTotal)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DocTotal)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DocSubTotal)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DocSubTotal)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DocIva)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DocIva)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DocRate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DocRate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DocType)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DocType)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TypeCustomer)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TypeCustomer)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CardCode)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CardCode)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Cardname)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Cardname)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DocCur)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DocCur)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TrackNo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TrackNo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PaymentMethod)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ShipTo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ShipTo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.BillTo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BillTo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CFDIUser)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CFDIUser)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PorcentDisaccount)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PorcentDisaccount)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Id_cliente)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Id_cliente)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TransportationCode)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TransportationCode)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DocNumEcommerce)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DocNumEcommerce)
            </dd>
        </dl>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>
    </div>*@


