@model IEnumerable<SAPDataProcess.SAP_Document>
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    int UserId = (int)HttpContextAccessor.HttpContext.Session.GetInt32("USR_IdSplinnet");
    ViewData["Title"] = "Pedidos rechazados";
    bool ctrlShowBussines = new EcommerceAdmin.Models.Ecom_SAP().ValidAction(UserId, new int[] { 18 });
}
<div id="app_rechazado">
    <div class="br-section-wrapper">
        <div class="table-wrapper">
            <table class="table display responsive nowrap " id="table_rechazado" style="width: 100%;">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DocNumEcommerce)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DocNum)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DocDate)
                        </th>
                        @*<th>
            @Html.DisplayNameFor(model => model.DocTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocCur)
        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.CardCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cardname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Remarks)
                        </th>
                        <th>
                            Cliente E-commerce
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.ActionLink(item.DocNumEcommerce + "", "Detalle", "Pedido", new { id = item.DocNumEcommerce }, new { @class = "btn btn-sm btn-outline-success" })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DocNum)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.DocDate)
                        </td>
                        @*<td>
            $@Html.DisplayFor(modelItem => item.DocTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocCur)
        </td>*@
                        <td>
                            @if (ctrlShowBussines)
                            {
                                @Html.ActionLink(item.CardCode, "BussinessPartner", "Cliente", new { id = item.CardCode }, new { @class = "btn btn-sm btn-outline-success", title = "Ver socio de negocios" })
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.CardCode)
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cardname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remarks)
                        </td>
                        <td>
                            @if (item.ObjetoAux != null)
                            {
                                EcomDataProccess.Ecom_Cliente ecom_Cliente = (EcomDataProccess.Ecom_Cliente)item.ObjetoAux;
                                @ecom_Cliente.Nombre @ecom_Cliente.Apellidos
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var app_rechazado = new Vue({
            el: "#app_rechazado",
            data: {
            },
            mounted() {
                $('#table_rechazado').DataTable({
                    "order": []
                });
            }
        });
    </script>
}
