@model GPDataInformation.Models.Sociedad

@{
    ViewData["Title"] = "Delete";
}
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left" style="padding-top: 7.5px;">  @ViewData["Title"]</h4>
        <div class="btn-group pull-right">

        </div>
    </div>
    <div class="panel-body" id="list_departammets">
        <div class="panel-body" style="min-height: 214px;">
            <h3>¿Estas seguro de eliminar esta información?</h3>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Direccion)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Direccion)
                </dd>
            </dl>
            <div class="form-group" style="margin-bottom:0">
                <div class="col-sm-offset-2 col-sm-10 text-right">
                    <form asp-action="Delete">

                        <input asp-for="IdSociedad" type="hidden" class="form-control " />
                        @Html.ActionLink("Volver", "Edit", new { id = Model.IdSociedad }, new { @class = "btn btn-sm btn-default" })
                        <input type="submit" value="Delete" class="btn btn-sm btn-primary" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
