@model IEnumerable<GPDataInformation.Models.Sociedad>
@{
    ViewData["Title"] = "Sociedades";
}
    <div>
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand">@ViewData["Title"]</a>
            <form class="form-inline">
                <a asp-action="Create" class="btn btn-sm btn-outline-danger my-2 my-sm-0" title="Registrar nuevo">Nuevo</a>
            </form>
        </nav>
        <div class="table-responsive mt-3">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.IdSociedad)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Direccion)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdSociedad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Direccion)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.IdSociedad }) |
                                @Html.ActionLink("Details", "Details", new { id = item.IdSociedad }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.IdSociedad })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>