@model IEnumerable<GPSInformation.Models.Direccion>

@{
    ViewData["Title"] = "Direcciones";
}

<div class="d-flex align-items-center justify-content-between mg-b-30">
    <h4 class="tx-15 mg-b-0">@ViewData["Title"]</h4>
    <div class="btn-group" role="group" aria-label="Basic example">
        <h2 class="tx-15 mg-b-0"></h2>
        <a asp-action="Create" class="btn btn-sm btn-white d-flex align-items-center"><i class="icon ion-md-time mg-r-5 tx-16 lh--9"></i>Crear nuevo</a>
    </div>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdDireccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSociedad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DireccionParent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDireccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sociedad.Descripcion)
                </td>
                <td>
                    @if (item.DireccionPa != null)
                    {
                        @Html.DisplayFor(modelItem => item.DireccionPa.Nombre)
                    }
                    else
                    {
                        <span>Direccion Raíz</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdDireccion })
                </td>
            </tr>
        }
    </tbody>
</table>
