@model IEnumerable<GPSInformation.Models.Direccion>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdDireccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSociedad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DireccionParent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdDireccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sociedad.Descripcion)
            </td>
            <td>
                @if (item.DireccionPa != null)
                {
                    @Html.DisplayFor(modelItem => item.DireccionPa.Nombre)
                }
                else
                {
                    <span>Direccion Raíz</span>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IdDireccion }) 
            </td>
        </tr>
}
    </tbody>
</table>
