@using Microsoft.AspNetCore.Http;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IHttpContextAccessor HttpContextAccessor
@{
    int UserId = (int)HttpContextAccessor.HttpContext.Session.GetInt32("USR_IdSplinnet");
    List<EcomDataProccess.Ecom_Modelo> menuList = new EcommerceAdmin.Models.Ecom_SAP().Menu(UserId);
    string controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string controllerAction = this.ViewContext.RouteData.Values["action"].ToString();
    menuList.ForEach(menu => {
        menu.Acciones.ForEach(sub =>
        {
            if (sub.Route == controllerName && sub.Action == controllerAction)
            {
                sub.ClassActive = "active";
                menu.ClassActive = "show-sub";
            };
        });
    });
}
<div class="br-logo"><a href="#"><span>[</span>Ecommerce<span>]</span></a></div>
<div class="br-sideleft overflow-y-auto">
    <div class="br-sideleft-menu">
        @if (menuList.Count > 0)
        {
            @foreach (var item in menuList)
            {
                @if (item.Acciones.Count > 0)
                {
                    <a href="#" class="br-menu-link @item.ClassActive">
                        <div class="br-menu-item">
                            <i class="menu-item-icon @Html.DisplayFor(modelItem => item.Icon)  tx-24"></i>
                            <span class="menu-item-label">@Html.DisplayFor(modelItem => item.Text)</span>
                            <i class="menu-item-arrow fa fa-angle-down"></i>
                        </div>
                    </a>
                    <ul class="br-menu-sub nav flex-column">
                        @foreach (var item2 in item.Acciones)
                        {
                            <li class="nav-item">
                                <a href="@Url.Action(item2.Action,item2.Route)" class="nav-link @item.ClassActive">@item2.Text</a>
                            </li>
                        }
                    </ul>
                }
            }

        }
        else
        {
            <a href="@Url.Action("Index","Home")" class="br-menu-link ">
                <div class="br-menu-item">
                    <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
                    <span class="menu-item-label">Home</span>
                </div>
            </a>
        }
    </div>
</div>