@model EcomDataProccess.Ecom_DireccionFacturacion
<table class="table table-sm table-bordered">
    <tr>
        <td><strong>@Html.DisplayNameFor(model => model.RazonSocial)</strong></td>
        <td>@Html.DisplayFor(model => model.RazonSocial) </td>
        <td><strong>@Html.DisplayNameFor(model => model.TipoFacturacion)</strong></td>
        <td>@Html.DisplayFor(model => model.TipoFacturacion) </td>
    </tr>
    <tr>
        <td><strong>@Html.DisplayNameFor(model => model.RFC)</strong></td>
        <td>@Html.DisplayFor(model => model.RFC)</td>
        <td><strong>@Html.DisplayNameFor(model => model.Calle)</strong></td>
        <td>@Html.DisplayFor(model => model.Calle)</td>
    </tr>
    <tr>
        <td><strong>@Html.DisplayNameFor(model => model.NoExterior)</strong></td>
        <td>@Html.DisplayFor(model => model.NoExterior)</td>
        <td><strong>@Html.DisplayNameFor(model => model.NoInterior)</strong></td>
        <td>@Html.DisplayFor(model => model.NoInterior)</td>
    </tr>
    <tr>
        <td><strong>@Html.DisplayNameFor(model => model.CodigoPostal)</strong></td>
        <td>@Html.DisplayFor(model => model.CodigoPostal)</td>
        <td><strong>@Html.DisplayNameFor(model => model.Estado)</strong></td>
        <td>@Html.DisplayFor(model => model.Estado)</td>
    </tr>
    <tr>
        <td><strong>@Html.DisplayNameFor(model => model.Ciudad)</strong></td>
        <td>@Html.DisplayFor(model => model.Ciudad)</td>
        <td><strong>@Html.DisplayNameFor(model => model.Delegacion)</strong></td>
        <td>@Html.DisplayFor(model => model.Delegacion)</td>
    </tr>
</table>
