@model IEnumerable<GPSInformation.Views.View_empleado>

@{
    ViewData["Title"] = "Lista de empleados";
}
<div class="d-flex align-items-center justify-content-between mg-b-30">
    <h4 class="tx-15 mg-b-0">@ViewData["Title"]</h4>
    <div class="btn-group" role="group" aria-label="Basic example">
        <h2 class="tx-15 mg-b-0"></h2>
        <a asp-action="Create" class="btn btn-sm btn-white d-flex align-items-center"><i class="icon ion-md-time mg-r-5 tx-16 lh--9"></i>Crear nuevo</a>
    </div>
</div>
<hr />
<table class="table table-sm">
    <thead>
        <tr>
            <th>Nomina</th>
            <th>Empleado</th>
            <th>Departamento</th>
            <th>Puesto</th>
            <th>Tipo Nomina</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.NumeroNomina</td>
            <td>@item.NombreCompleto</td>
            <td>@item.NombreDepartamento</td>
            <td>@item.PuestoNombre</td>
            <td>@item.TipoNomina</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdPersona })|
                @Html.ActionLink("Acceso", "Create","Usuario", new { id = item.IdPersona })|
                @Html.ActionLink("Expediente", "Expediente", "Expediente", new { id = item.IdPersona })
            </td>
        </tr>
        }
    </tbody>
</table>
