@model IEnumerable<GPSInformation.Models.Persona>

@{
    List<GPSInformation.Models.Puesto> puestos = ViewBag.Puestos;
    List<GPSInformation.Models.Empleado> empleados = ViewBag.Empleados;
    ViewData["Title"] = "Lista de empleados";
}
<div class="d-flex align-items-center justify-content-between mg-b-30">
    <h4 class="tx-15 mg-b-0">@ViewData["Title"]</h4>
    <div class="btn-group" role="group" aria-label="Basic example">
        <h2 class="tx-15 mg-b-0"></h2>
        <a asp-action="Create" class="btn btn-sm btn-white d-flex align-items-center"><i class="icon ion-md-time mg-r-5 tx-16 lh--9"></i>Crear nuevo</a>
    </div>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>No.Nomina</th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoPaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoMaterno)
            </th>
            <th>Puesto</th>
            <th>Tipo Nomina</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            GPSInformation.Models.Empleado empleado = empleados.Find(a => a.IdPersona == item.IdPersona);

            GPSInformation.Models.Puesto puesto = puestos.Find(a => a.IdPuesto == empleado.IdPuesto);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => empleado.NominaReal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApellidoPaterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApellidoMaterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => puesto.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => empleado.NominaRealDescripcion)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdPersona })|
                    @Html.ActionLink("Expediente", "Expediente", "Expediente", new { id = item.IdPersona })
                </td>
            </tr>
        }
    </tbody>
</table>
