@model IEnumerable<GPSInformation.Models.Persona>

@{
    List<GPSInformation.Models.Puesto> puestos = ViewBag.Puestos;
    List<GPSInformation.Models.Empleado> empleados = ViewBag.Empleados;
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>No.Nomina</th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoPaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoMaterno)
            </th>
            <th>Puesto</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            GPSInformation.Models.Empleado empleado = empleados.Find(a => a.IdPersona == item.IdPersona);

            GPSInformation.Models.Puesto puesto = puestos.Find(a => a.IdPuesto == empleado.IdPuesto);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => empleado.NumeroNomina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoPaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => puesto.Nombre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdPersona })
            </td>
        </tr>
        }
    </tbody>
</table>
