@model IEnumerable<GPDataInformation.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPersona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroNomina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoNomina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSociedad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDepartamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Egreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroNomina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoNomina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSociedad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDepartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPuesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Egreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
